@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    box-shadow: none !important;
}

.btn-primary {
    color: #fff;
    background-color: #696cff !important;
    border-color: #696cff;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}

.btn-secondary {
    color: #fff;
    background-color: #8592a3 !important;
    border-color: #8592a3;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(133, 146, 163, 0.4);
}

.btn-danger {
    color: #fff;
    background-color: #ff3e1d;
    border-color: #ff3e1d;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 62, 29, 0.4);
}

.border {
    border: 1px solid !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.4375rem 0.875rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #d9dee3;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.switch {
    /* switch */
    --switch-width: 46px;
    --switch-height: 24px;
    --switch-bg: rgb(131, 131, 131);
    --switch-checked-bg: rgb(0, 218, 80);
    --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
    --switch-transition: all 0.2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    /* circle */
    --circle-diameter: 18px;
    --circle-bg: #fff;
    --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
    --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
    --circle-transition: var(--switch-transition);
    /* icon */
    --icon-transition: all 0.2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    --icon-cross-color: var(--switch-bg);
    --icon-cross-size: 6px;
    --icon-checkmark-color: var(--switch-checked-bg);
    --icon-checkmark-size: 10px;
    /* effect line */
    --effect-width: calc(var(--circle-diameter) / 2);
    --effect-height: calc(var(--effect-width) / 2 - 1px);
    --effect-bg: var(--circle-bg);
    --effect-border-radius: 1px;
    --effect-transition: all 0.2s ease-in-out;
}

.switch input {
    display: none;
}

.switch {
    display: inline-block;
}

.switch svg {
    -webkit-transition: var(--icon-transition);
    -o-transition: var(--icon-transition);
    transition: var(--icon-transition);
    position: absolute;
    height: auto;
}

.switch .checkmark {
    width: var(--icon-checkmark-size);
    color: var(--icon-checkmark-color);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.switch .cross {
    width: var(--icon-cross-size);
    color: var(--icon-cross-color);
}

.slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
}

.circle {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background: var(--circle-bg);
    border-radius: inherit;
    -webkit-box-shadow: var(--circle-shadow);
    box-shadow: var(--circle-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    z-index: 1;
    position: absolute;
    left: var(--switch-offset);
}

.slider::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
}

/* actions */

.switch input:checked + .slider {
    background: var(--switch-checked-bg);
}

.pointer-none {
    pointer-events: none;
}

.switch input:checked + .slider .checkmark {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.switch input:checked + .slider .cross {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.switch input:checked + .slider::before {
    left: calc(
        100% - var(--effect-width) - (var(--effect-width) / 2) -
            var(--switch-offset)
    );
}

.switch input:checked + .slider .circle {
    left: calc(100% - var(--circle-diameter) - var(--switch-offset));
    -webkit-box-shadow: var(--circle-checked-shadow);
    box-shadow: var(--circle-checked-shadow);
}

.no-hover-pointer{
    color: var(--bs-dropdown-link-hover-color) !important;
    background-color: rgb(67 89 113 / 0%) !important;
    pointer-events: none !important;
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
    max-width: 100%;
    resize: none;
    height: 18px;
    vertical-align: bottom;
    font-family: sans-serif;
    overflow: hidden;
    word-break: keep-all;
    margin-bottom: 5px;
    padding-bottom: 20px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 20px 5px;
    display: flex;
    align-items: center;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    display: none;
}

.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #696cff;
    color: white;
}

.select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border: solid #696cff 1px;
    outline: 0;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bolder;
    height: 26px;
    margin-right: 10px;
    /* padding-right: 0px; */
    position: absolute;
    right: 0;
}

.select2-container--default.select2-container--open.select2-container--below
    .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 5px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #b1b4b8;
    border-radius: 4px;
    cursor: text;
    position: relative;
    padding: 10px 5px;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__clear {
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.35rem;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin: 7px 10px 0px !important;
}

.select2-container--default.select2-container--disabled
    .select2-selection--multiple {
    background-color: #fff;
    cursor: default;
    pointer-events: none;
}

button.select2-selection__choice__remove {
    border-right: 0px solid transparent !important;
}

.select2-container--default.select2-container--disabled
    .select2-selection__clear {
    display: none;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice:nth-child(5n + 1) {
    background-color: #e7e7ff;
    border: 1px solid #696cff;
    color: #696cff;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-selection__choice:nth-child(5n + 1)
    .select2-selection__choice__remove {
    color: #696cff !important;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice:nth-child(5n + 2) {
    background-color: #e8fadf !important;
    border: 1px solid #71dd37 !important;
    color: #71dd37 !important;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-selection__choice:nth-child(5n + 2)
    .select2-selection__choice__remove {
    color: #71dd37 !important;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice:nth-child(5n + 3) {
    background-color: #ffe0db !important;
    border: 1px solid #ff3e1d !important;
    color: #ff3e1d !important;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-selection__choice:nth-child(5n + 3)
    .select2-selection__choice__remove {
    color: #ff3e1d !important;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice:nth-child(5n + 4) {
    background-color: #fff2d6 !important;
    border: 1px solid #ffab00 !important;
    color: #ffab00 !important;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-selection__choice:nth-child(5n + 4)
    .select2-selection__choice__remove {
    color: #ffab00 !important;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice:nth-child(5n) {
    background-color: #d7f5fc !important;
    border: 1px solid #03c3ec !important;
    color: #03c3ec !important;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-selection__choice:nth-child(5n) .select2-selection__choice__remove {
    color: #03c3ec !important;
}

.notification-header {
    background-color: transparent;
    pointer-events: none !important;
    display: flex !important;
    justify-content: center !important;
}

.notification-footer {
    background-color: transparent;
    display: flex !important;
    justify-content: center !important;
}

.vw-25 {
    max-width: 25vw;
}

.vw-20 {
    max-width: 20vw;
}

.notification-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-select {
    --bs-form-select-bg-img: url(
        data:image/svg + xml,
        %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"%3e%3cpathfill="none"stroke="rgba%2867, 89, 113, 0.6%29"stroke-linecap="round"stroke-linejoin="round"stroke-width="2"d="M2 5l6 6 6-6"/%3e%3c/svg%3e
    );
    display: block;
    width: 100%;
    padding: 0.4375rem 1.875rem 0.4375rem 0.875rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d;
    appearance: none;
    background-color: #fff;
    background-image: var(--bs-form-select-bg-img),
        var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.875rem center;
    background-size: 17px 12px;
    border: var(--bs-border-width) solid #d9dee3;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

ul {
    --sb-track-color: #e8e8ff;
    --sb-thumb-color: #696bff;
    --sb-size: 5px;
}

ul::-webkit-scrollbar {
    width: var(--sb-size);
}

ul::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 15px;
}

ul::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 15px;
}

@supports not selector(::-webkit-scrollbar) {
    ul {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

body {
    --sb-track-color: #bbbbbb;
    --sb-thumb-color: #6b6b6b;
    --sb-size: 5px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}
